{% extends 'ConstructionReporter/base.html' %}
{% block head %}
{% load i18n %}
<title>{% trans "New location" %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}


{% block content %}
{% include 'ConstructionReporter/navbar_defect_creation.html' %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2>{% trans "New defect" %}</h2>
        </div>
    </div>
</div>
<br>

<form action="/defect_creation/new" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}


    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-3 offset-md-1 text-center text-md-left">
                <h5><label for="defect_name">{% trans "Give defect name" %}:</label></h5>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-8 text-center text-md-left">
                <input id="defect_name" type="text" name="defect_name">
            </div>


        </div>
    </div>
    <br>
##########################

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-3 offset-md-1 text-center text-md-left">
                <h5><label for="defect_description">{% trans "Give a defect description" %}:</label></h5>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-8 text-center text-md-left">
                <input id="defect_description" type="text" name="defect_description">
            </div>


        </div>
    </div>
    <br>


##########################
        <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-3 offset-md-1 text-center text-md-left">
                <h5><label for="defect_status">{% trans "Select defect status" %}:</label></h5>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-8 text-center text-md-left">
                <select id="defect_status" type="text" name="defect_status">
                    <option value="" disabled selected>select a defect status</option>
                    {% for defect_status in defect_statuses %}
                        <option value={{ defect_status.id }}> {{ defect_status }} </option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <br>
##########################

##########################
        <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-3 offset-md-1 text-center text-md-left">
                <h5><label for="defect_location">{% trans "Select defect location" %}:</label></h5>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-8 text-center text-md-left">
                <select id="defect_location" type="text" name="defect_location">
                    <option value="" disabled selected>select a defect location</option>
                    {% for location in locations %}
                        <option value={{ location.id }}> {{ location }} </option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <br>
##########################


##########################
        <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-3 offset-md-1 text-center text-md-left">
                <h5><label for="defect_respondent">{% trans "Select defect respondent" %}:</label></h5>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-8 text-center text-md-left">
                <select id="defect_respondent" type="text" name="defect_respondent">
                    <option value="" disabled selected>select a defect respondent</option>
                    {% for group in groups %}
                        <option value={{ group.id }}> {{ group }} </option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <br>
##########################



    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <input type="submit" class="btn btn-primary" value={% trans "submit" %}></h3>
            </div>
        </div>
    </div>
</form>

<div>
    Existing locations:
    {% for loc in locations %}
    {{ loc.location_name }}

    {% endfor %}
</div>


{% endblock %}