{% extends 'ConstructionReporter/base.html' %}
{% block head %}
{% load i18n %}
<title>{% trans "New location" %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
    function check_form() {
    var submit_button = document.getElementById("submit_button");
    var new_form = document.getElementById("new_form");
    var form_fields_to_check = ['location_name', 'location_type', 'location_user_group']

    var elements_to_check_values = Array.from(new_form.elements).filter( (element) => {
        return form_fields_to_check.includes(element.name) 
    }).map( (element) => element.value)

    if (elements_to_check_values.every(element_value => element_value != '')) {
        new_form.submit()
    }
    else {
        alert("You have to fill all required fields")
    }

    }


</script>

{% endblock %}


{% block content %}
{% include 'ConstructionReporter/navbar_location_creation.html' %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2>{% trans "New location" %}</h2>
        </div>
    </div>
</div>
<br>

<form action="/location_creation/new" method="post" id="new_form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}


    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-3 offset-md-1 text-center text-md-left">
                <h5><label for="location_name">{% trans "Give location name" %}:</label></h5>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-8 text-center text-md-left">
                <input id="location_name" type="text" name="location_name">
            </div>


        </div>
    </div>
    <br>

        <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-3 offset-md-1 text-center text-md-left">
                <h5><label for="location_type">{% trans "Select location type" %}:</label></h5>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-8 text-center text-md-left">
                <select id="location_type" type="text" name="location_type">
                    <option value="" disabled selected>select a location type</option>
                    {% for loc_type in location_types %}
                        <option value={{ loc_type.id }}> {{ loc_type }} </option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <br>

        <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-3 offset-md-1 text-center text-md-left">
                <h5><label for="location_type">{% trans "Select parent location" %}:</label></h5>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-8 text-center text-md-left">
                <select id="location_parent" type="text" name="location_parent">
                    <option value="" disabled selected>select a location parent</option>
                    {% for loc in locations %}
                    <option value={{ loc.id }}> {{ loc }} </option>
                    {% endfor %}
                    <option value=""> -- independent location -- </option>
                </select>
            </div>

        </div>
    </div>
    <br>

        <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-3 offset-md-1 text-center text-md-left">
                <h5><label for="location_user_group">{% trans "Select user group" %}:</label></h5>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-8 text-center text-md-left">
                <select id="location_user_group" type="text" name="location_user_group">
                    <option value="" disabled selected>select a user group</option>
                    {% for group in groups %}
                        <option value={{ group.id }}> {{ group }} </option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <br>


    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" id="submit_button" onclick="check_form()" > {% trans "submit" %} </button>
            </div>
        </div>
    </div>
</form>




<div>
    Existing locations:
    {% for loc in locations %}
    {{ loc.location_name }}

    {% endfor %}
</div>


{% endblock %}