{% extends 'ConstructionReporter/base.html' %}
{% load i18n %}
<html>

{% block head %}
<title xmlns:container.width="http://www.w3.org/1999/xhtml">{% trans "Hello!" %}</title>
{% endblock %}
{% block extended_script %}
{% endblock %}
{% block content %}
<!-- index template begins -->
{% include 'ConstructionReporter/navbar_index.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mt-5"> {% trans "Welcome to construction flaws app!" %}</h1>
        </div>
        <div class="col-12 m-2">
            {% if messages %}
            <ul style="list-style-type:none" class="info">
                {% for message in messages %}
                <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% if user.is_authenticated %}

        <div class="container">
        <a href="/location_type_creation">Create a location type</a>
        </div>
        <div class="container">
        <a href="/defect_status_creation">Create a defect status</a>
        </div>
        <br>
        <div class="container">
        <a href="/location_creation">Create a location</a>
        </div>
        <br>
        <div class="container">
        <a href="/defect_creation">Create a defect</a>
        </div>
        <br>
        <div class="container">
        <a href="/defects">View all defect</a>
        </div>


        {% else %}
        <div>
            <h3><a href="/login"> {% trans "Login_index" %} </a> {% trans "or click" %} <a href="/signup">{% trans
                "here" %}</a> {% trans "to sign in"%}.</h3>

        </div>
        {% endif %}

    </div>

</div>


<script>
    var locations_list = localStorage.getItem('locations_list');
    if(locations_list) {
      console.log("List of locations exists");
      console.log(JSON.parse(localStorage.getItem('locations_list')).results);
    }
    else {
    console.log("List of locations does not exist");
    var existing_locations = fetch('http://127.0.0.1:8000/api/location-detail/')
    .then(res => res.json())
    .then(data => existing_locations = data)
    .then(() => localStorage.setItem('locations_list', JSON.stringify(existing_locations))).then(console.log('List of locations created'));
    };
    

    </script>

<!-- index template ends -->
{% endblock %}


{% if user.is_authenticated %}
<li class="nav-item">
    <a class="nav-link" href="/logout"> {% trans 'Logout' %} {{ user.get_username }}
        <span class="sr-only">(current)</span>
    </a>
</li>
{% endif %}