{% extends 'ConstructionReporter/layout.html' %}

{% block head %}

<title>Construction Reporter - Offline</title>

{% endblock %}
{% block content %}


    <h1>You are now offline</h1>
<p><a href="">Check your connection and try to come back later to Construction Flaws main page.</a></p>

<body>
 <header>
        <h1>Create a new defect entry:</h1>
          <form>
          <div>
            <div>
              <label for="entername">Enter defect name:</label>
              <input id="entername" type="text" required>

            </div>
            <div>
              <label for="enterdescr">Enter defect description:</label>
              <textarea id="enterdescr" type="text" required rows="4" cols="50"></textarea>
            </div>
            <div>
              <label for="enterlocation">Choose location:</label>
              <select id="enterlocation" type="text" required></select>

            </div>
            <div>
              <label for="enterrespondent">Select defect respondent:</label>
              <input id="enterrespondent" type="text" required>
              <input id="submitname" type="submit" value="Save new defect">
            </div>

          </div>
        </form>

  </header>
</body>



{% endblock %}
