<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Responsive + Encoding Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/dist/css/app.0bf98ba3.css" />
    <!-- Title -->
    <title>Vue.JS API Call</title>
</head>
<body>
    <div id="app" />
</body>
<!-- Vue and Custom JavaScript -->
<script src="http://127.0.0.1:8000/static/dist/js/chunk-vendors.64e2eb98.js"></script>
<script src="http://127.0.0.1:8000/static/dist/js/app.b6c02593.js"></script>
</html>